


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/4k_bg.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.canvaAria {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 720px;
    aspect-ratio: 720 / 480;
}

h1,
h2 {
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    color: rgb(19, 20, 14);
    text-align: center;
    padding: 0px;
    margin: 10px;

}

canvas {
    background-color: black;
    z-index: 11;
    border-radius: 10px;
}

.startMask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    max-width: 720px;
    aspect-ratio: 720 / 480;
    z-index: 12;
}

.startDialog {
    background-color: rgb(240, 248, 255, 0.6);
    padding: 20px 40px;
    border-radius: 25px;
    text-align: center;
    z-index: 13;
}

.startDialog h3{
    font-size: 18px;
}

h3 {
    padding: 5px 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


h3:hover {
    background-color: rgb(188, 214, 42);
    border-radius: 15px;
    cursor: pointer;
}

.endMask {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    max-height:100vh;
    width: 100%;
    max-width: 720px;
    aspect-ratio: 720 / 480;
    z-index: 13;
}

.endDialog {
    opacity: 0;
    background-color: rgb(240, 248, 255, 0.6);
    padding: 20px 40px;
    border-radius: 25px;
    /* position: absolute; */
    /* top: 75px; */
    z-index: 13;
    transition: opacity 300ms ease-in;
}

.endDialog.visible {
    opacity: 1;
}






