body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/dessert_game.jpg);
    background-position:center;
    background-repeat: no-repeat;
}

canvas{
    background-color: black;
}